@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.card-header {
    font-family: 'Manrope', sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.25px;
    font-weight: bold;
    background-color: white;
    color: #48556A;
}

.card-text {
    font-family: 'Manrope', sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.12%;
    color: #6E8098;
}

#Michelle {
    font-family: 'Manrope', sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.12%;
    font-weight: bold;
    color: #48556A;  
}

#date {
    font-family: 'Manrope', sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.12%;
    font-weight: normal;
    color: #9DAEC2;
}
.popover-inner {
    --bs-popover-bg: #48556A;
}
.popover-body {
    --bs-popover-body-bg: #48556A;
    background-color: #48556A;
    color: #9DAEC2;
    font-family: 'Manrope', sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.25em;
    font-weight: normal;
    border-radius: var(--bs-border-radius-xl) !important;
}
.popover-header {
    --bs-popover-header-bg: #48556A;
    color: #9DAEC2;
}
.popover-arrow {
    --bs-popover-bg: #48556A;
}