@page
@model IndexModel
@{
    ViewData["Title"] = "Frontend Mentor";
}

<div class="card rounded-end-4 rounded-start-4" style="max-width: 730px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start-4 w-100 h-100 align-self-stretch" src="~/images/drawers.jpg" alt="Drawers image"/>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="card-header mb-2">
                    Shift the overall look and feel by adding these wonderful
                    touches to furniture in your home
                </div>
                <div class="card-text">
                    Ever been in a room and felt like something was missing? Perhaps
                    it felt slightly bare and uninviting. I’ve got some simple tips
                    to help you make any room feel complete.
                </div>
            </div>
            <div class="card-footer bg-white">
                Michelle Appleton
                28 Jun 2020
            </div>
        </div>
    </div>
</div>
